body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
}
h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}
#q {
  width: 29%;
  margin: 1%;
  padding: 1%;
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 10px;
}
#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2%;
  /* padding: 2%; */
}
#chart {
  margin: 2%;
  padding: 2%;
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 10px;
}
button {
  font-weight: bold;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}
input {
  font-weight: bold;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}
#transmettreReponses {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto;
}
#reinitialiserResultats {
  display: flex;
  justify-content: center;
  align-items: center;
}
input:checked + label {
  font-weight: bold;
}
#message {
  display: none;
  margin: auto;
  padding: auto;
}
#date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto;
}
#header img {
  width: auto;
  height: 60px;
  margin: 4px;
  padding: 4px;
}
#adresse {
  color: grey;
  margin: 4px;
  padding: 4px;
}
#footer img {
  width: auto;
  height: 40px;
  margin: 4px;
  padding: 4px;
}
#footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: grey;
  list-style-type: none;
  margin: 4px;
  padding: 4px;
}
#footer ul li {
  /* margin: 1%; */
  padding: 8px;
}
#footer ul li a {
  color: grey;
  text-decoration: none;
}
